.movieDetailsPageSection {
  padding-top: 6px;
  padding-bottom: 12px;
  background-color:rgb(1, 6, 31);
  min-height: 100vh;
}

.movieDetailsPageContainer {
  max-width: 360px;
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
  padding-top: 56px;
}

.movieDetailsPageLoadingContainer {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  /* background-color: aliceblue; */
}

.movieDetailsPageLink {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 16px;
  padding-top: 6px;
  font-size: 18px;
}
.movieDetailsPageList {
  padding-bottom: 12px;

  border-bottom: 1px dotted blue;
}

.pageBarloader {
  color: aqua;
  background-color: chocolate;

}

.link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #646cff;
  font-size: 18px;
}

.linkActive { 
  color: orange;
  display: flex;
  align-items: center;
  gap: 6px;

  
}

.movieDetailsPageListIcon {
  font-size: 24px;
}

@media (min-width: 760px) {
  .movieDetailsPageContainer {
    max-width: 760px;
  }
}

@media (min-width: 1280px) {
  .movieDetailsPageContainer {
    max-width: 1280px;
  }

  
}
