.movieReviewsLoadingContainer {
    display: flex;
    justify-content: center;
    padding: 12px 0;
   }

.MovieReviewsList {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.MovieReviewsTitle {
    margin-bottom: 16px;
    color: rgb(147, 167, 187);
  color: rgb(189, 196, 225);
}

.MovieReviewsWraper {
    padding-top: 12px;
}

.infoMessage {
    color: red;
}