.movieDetailsCardTitle {
  margin-bottom: 20px;
  color: rgb(147, 167, 187);
  color: rgb(189, 196, 225);
  text-transform: uppercase;
}

.movieDetailsCardList {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(180, 195, 210);
}

.movieDetailsCardOverview {
  margin-bottom: 12px;
  color: rgb(180, 195, 210);
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.movieDetailsCardImgContainer {
  margin-bottom: 12px;
}

.ioEarth,
.faStarHalfAlt,
.faClockRotateLeft,
.SiGoogleearth {
  color: orange;
  font-size: 1rem;
  margin-right: 6px;
}

.movieDetailsCardGenres,
.movieDetailsCardCountry,
.movieDetailsCardRating,
.movieDetailsCardRuntime {
  color: orange;
}

/* @media (min-width: 760px) {
    .homePageContainer {
        max-width: 760px;
        width:100%;
        padding-inline: 15px;
        margin-inline: auto;
      
    }
    
} */

@media (min-width: 1280px) {
  .movieDetailsCardImgContainer {
    max-width: 900px;
    height: auto;
  }

  .movieDetailsCardList {
    font-size: 18px;
  }

  .movieDetailsCardOverview {
    font-size: 18px;
    max-width: 900px;
  }
}
