/* .RatingStarContainer {
  
  position: relative;
  font-size: 24px;
  color: white;
}

.RatingStarContainer::before {
  content: '★★★★★';
  display: block;
  padding-bottom: 4px;


}

.RatingStarsStar {
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
 
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
}

.RatingStarsStarItem {
  flex-basis: 20%;
  height: 100%;
  opacity: 0;

}

.RatingStarActive {
  position: absolute;
  top: 0%;
  left: 0;
  height: 100%;
  overflow: hidden;
}

.RatingStarActive:before {
  content: '★★★★★';
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(247, 199, 5);
} */






/* Container for the stars */
.RatingStarContainer {
    position: relative;
  
    font-size: 24px;
    color: lightgray; 
    display: inline-block;
    width: 100px; 
    height: 24px; 
    overflow: hidden;
  }

/* Background gray stars */
.RatingStarsStar {
    position: relative;
    padding-bottom: 4px;
    display: flex;
    align-items:center;
  
    z-index: 1;
    color: lightgray;
    width: 100%;
    height: 100%;
    padding-top:0;
  }

/* Active gold stars that will animate */
.RatingStarActive {
    position: absolute;
    top: 0%;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    color: rgb(247, 199, 5); 
  }

/* Overlay of the active stars (this gets animated) */
.RatingStarOverlay {
    position: absolute;
    top: 0%;
    left: 0;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    color: rgb(247, 199, 5); 
  }
