.movieListItem {
  position: relative;

  width: 100%;
}

.movieList {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 0;
  row-gap: 62px;
  column-gap: 24px;
}

@media (min-width: 760px) {
  .movieList {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 26px;
    row-gap: 38px;
  }

  .movieListItem {
    width: calc((100% - 26px) / 2);
  }
}

@media (min-width: 1280px) {
  .movieList {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;

    row-gap: 38px;
  }

  .movieListItem {
    width: calc((100% - 72px) / 4);
  }
}
