.movieListItem {
  position: relative;
  /* max-width: 340px; */
  width: 100%;
}

.movieList {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* gap: 16px;
  gap: 24px; */
  row-gap: 32px;
  column-gap: 24px;
}

@media (min-width: 760px) {
  .movieList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 26px;
    /* row-gap: 32px; */
  }

  .movieListItem {
    width: calc((100% - 26px) / 2);

  }
}

@media (min-width: 1280px) {
  .movieList {
    /* max-width: 760px;
        width:100%;
        padding-inline: 15px;
        margin-inline: auto; */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 32px;
  }

  .movieListItem {

    /* max-width: 298px;

    width: 100%; */

    width: calc((100% - 72px) / 4);
  }
}
