.footerSection {
  padding: 24px 0;
  margin-inline: auto;
  background-color: rgb(1, 6, 31);
  border-top: 2px solid rgba(152, 183, 242, 0.24);
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  max-width: 360px;
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;

}

.footerText {
  text-align: right;
  color: rgba(189, 196, 225, 0.527);
}

@media (min-width: 760px) {
  .footerContainer {
    max-width: 760px;
  }
}

@media (min-width: 1280px) {
  .footerContainer {
    max-width: 1280px;
  }
}
