


/* Container for the stars */
.RatingStarContainer {
    position: relative;
   
    font-size: 24px;
    color: rgb(14, 13, 13); /* Gray background stars */
    display: inline-block;
   width: 300px; /* Adjust width for 5 stars */
    height: 48px; /* Same as font size to prevent overflow */
    overflow: hidden;
  }
  
  /* Background gray stars */
  .RatingStarsStar {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    /* color: lightgray; */
      color: black;
      color: #646cff;
    width: 100%;
    height: 100%;
    padding-top:0;
  }
  
  /* Active gold stars that will animate */
  .RatingStarActive {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    /*color: rgb(247, 199, 5); /* Gold color for the active stars */
    color: lightgray; /* Gold color for the active stars */
    font-size: 24px;
    color: rgb(189, 196, 225);
    /* font-weight: bold; */
  }
  
  /* Overlay of the active stars (this gets animated) */
  .RatingStarOverlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    /*color: rgb(247, 199, 5); /* Gold star color */
    color:lightgray; /* Gold star color */
    font-size: 24px;
    color: rgb(189, 196, 225);;
    /* font-weight: bold; */
  }