.movieCastList {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap:20px;
    /* width: calc((100% - 40px) / 2); */
   
}

.movieCastListItem {
     width: calc((100% - 40px) / 3);
}

.movieCastLoadingContainer {
    display: flex;
    justify-content:space-between;
    padding: 12px 0;
}

.movieCastLoadingTitle {
    margin-bottom: 20px;
    color: rgb(189, 196, 225);
}

.movieCastLoadingWraper {
    padding-top: 12px;
}

.infoMessage {
    color: red;
}

@media (min-width: 760px) {
    .movieCastListItem {
        width: calc((100% - 60px) / 4);
   }
    
}

@media (min-width: 1280px) {
    .movieCastListItem {
        width: calc((100% - 100px) / 6);
   }
}