.homePageSection {
  padding-top: 94px;
  padding-bottom: 48px;
  background-color: rgb(1, 6, 31);
  min-height: 100vh;
}
.homePageContainer {
  max-width: 360px;
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
}

.homePageTitle {
  margin-bottom: 12px;
  font-size: 24px;
  color: rgb(189, 196, 225);
  text-transform: uppercase;
  font-weight: 400;
}

.homePageDate {
  padding-bottom: 42px;
  font-size: 24px;

  color: rgb(189, 196, 225);
}

.homePageLoadingContainer {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  padding-top: 48px;
}

.pageBarloader {
  color: aqua;
  background-color: chocolate;
}

.moviePaginationContainer {
  display: flex;
  justify-content: center;
}

.homePageSpan {
  display: flex;
  align-items: center;
}

@media (min-width: 760px) {
  .homePageContainer {
    max-width: 760px;
    width: 100%;
    margin-inline: auto;
  }
}

@media (min-width: 1280px) {
  .homePageContainer {
    max-width: 1280px;
  }
}
