.homePageSection {
    padding-top:12px;
    padding-bottom: 24px;
    background-color:rgb(1, 6, 31);
    min-height: 100vh;
     
   

}
.homePageContainer {
    padding-top: 56px;
    max-width: 360px;
    width:100%;
    padding-inline: 20px;
    margin-inline: auto;
}

.homePageTitle {
    /* font-size: 24px; */
    margin-bottom: 32px;
    /* color: white; */
    color: rgb(189, 196, 225);
    /* color: orange */
}

.homePageLoadingContainer {
 display: flex;
 justify-content: center;
 padding: 12px 0;
}



@media (min-width: 760px) {
    .homePageContainer {
        max-width: 760px;
        width:100%;
        /* padding-inline: 20px; */
        margin-inline: auto;
      
    }
    
}

@media (min-width: 1280px) {
    .homePageContainer  {
      max-width: 1280px;
    }
}
